<audio id="audio-player" controls>
  <source src="<%= @song_path %>" type="audio/mpeg">
</audio>

<span class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Speed: <span id="current-speed">100%</span>
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><a class="speed" href="#" data-value="1.2">120%</a></li>
    <li><a class="speed" href="#" data-value="1">100%</a></li>
    <li><a class="speed" href="#" data-value="0.9">90%</a></li>
    <li><a class="speed" href="#" data-value="0.75">75%</a></li>
  </ul>
</span>

<span class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Difficulty: <%= @difficulty %>
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><%= link_to "Insane", "/#{@artist.slug}/#{@song.slug}?difficulty=insane" %></li>
    <li><%= link_to "Hard", "/#{@artist.slug}/#{@song.slug}?difficulty=hard" %></li>
    <li><%= link_to "Normal", "/#{@artist.slug}/#{@song.slug}?difficulty=normal" %></li>
    <li><%= link_to "Easy", "/#{@artist.slug}/#{@song.slug}?difficulty=easy" %></li>
  </ul>
</span>

