<div class="container" id="song-body">
  <div class="row">
    <div class="artist-info">
      <h2><%= @song.name %></h2>
      <h3><%= @song.artist.full_name %></h3>
    <span class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Difficulty: <%= @difficulty %>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><%= link_to "Insane", "/#{@artist.slug}/#{@song.slug}?difficulty=insane" %></li>
        <li><%= link_to "Hard", "/#{@artist.slug}/#{@song.slug}?difficulty=hard" %></li>
        <li><%= link_to "Normal", "/#{@artist.slug}/#{@song.slug}?difficulty=normal" %></li>
        <li><%= link_to "Easy", "/#{@artist.slug}/#{@song.slug}?difficulty=easy" %></li>
      </ul>
    </span>
      <br>
      <p>Press <span class="label label-info">Enter</span> to grade the word and <span class="label label-info">Tab</span> to skip to the next word.</p>
    </div>
<div class="row">
  <div class="col-md-6 text-center">
    <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/<%= @song.youtube_id %>" frameborder="0"></iframe>
  </div>
</div>
    <div class="lyrics col-md-8 col-md-offset-2">
      <br>
      <% @blankified_lyrics.each do |lyric| %>
        <%= lyric %>
        <br>
      <% end %>

      <br>

      <p>All copyrights belong to their <%= link_to "respective owners", "https://www.youtube.com/watch?v=#{@song.youtube_id}" %>.</p>
    </div>
  </div>
</div>

